@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('/Fonts/Satoshi-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/Fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/Fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/Fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/Fonts/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }

*{
    margin:0;
    padding:0;
    font-family: 'Satoshi', sans-serif;
}